jax==0.7.2
jaxlib==0.7.2
jaxtyping==0.3.3
flax==0.10.2
ipykernel==6.30.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.8.1
mpi==1.0
numpy==2.3.3
numpy-base==2.3.3
opt_einsum==3.3.0
optax==0.2.6
pandas==2.3.3
pip==25.2
python-dateutil==2.9.0
python-gil==3.13.7
python-tzdata==2025.2
python_abi==3.13
pytorch==2.5.1
scikit-learn==1.7.2
scipy==1.16.2
sympy==1.14.0
wheel==0.45.1
yaml==0.2.5

charset-normalizer==3.4.3
drawsvg==2.4.0
equinox==0.13.1
exqalibur==1.0.0
idna==3.10
latexcodec==3.0.1
matplotlib==3.10.6
mkl-service==2.5.2
multipledispatch==1.0.0
perceval-quandela==1.0.1
protobuf==4.25.3
PyQt5==5.15.10
setuptools==72.1.0
tabulate==0.9.0
tqdm==4.67.1
urllib3==2.5.0
wadler_lindig==0.1.7
wheel==0.45.1
